<a href="https://colab.research.google.com/github/koreareger/kokain/blob/main/Untitled6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1
삼성전자 = 50000

In [ ]:
print("삼성전자 주식 10주 가격",삼성전자*10,"원")

삼성전자 주식 10주 가격 500000 원

In [ ]:
#2
year = int("2022")

In [17]:
print(year-0)
print(year-1)
print(year-2)

2022
2021
2020

In [98]:
#3
string = "홀짝홀짝홀짝"
string[::2]

'홀홀홀'

In [90]:
#4
string = "PYTHON"
string[5::-1]

'NOHTYP'

In [33]:
#5
movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']
movie_rank.insert(1,"슈퍼맨")

In [34]:
movie_rank

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [45]:
#6
nums = [1,2,3,4,5,6,7,8,9,10]
nums.remove(2)
nums.remove(4)
nums.remove(6)
nums.remove(8)
nums.remove(10)
nums

[1, 3, 5, 7, 9]

In [38]:
#7
data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
data

[1, 2, 3, 4, 5, 9, 10]

In [99]:
#8
"이름: {name1} 나이: {age1} 이름: {name2} 나이: {age2}".format(name1 = "김민수", age1 = 10, name2 = "이철희", age2 = 13)

'이름: 김민수 나이: 10 이름: 이철희 나이: 13'